table {
  border-collapse: collapse;
  margin: 10px;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #999;
}
th, tfoot > tr > td {
  background-color: #ddd;
  font-weight: bold;
}
th[data-sort]{
  cursor:pointer;
}
tr.awesome{
  color: red;
}
.title
{
	padding : 10px;
	font-family : arial;
	font-size : 16px;
	font-weight : 700;
}