<%+header%>
<link rel="stylesheet" type="text/css" href="<%=resource%>/wrtbwmon/wrtbwmon.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="<%=resource%>/wrtbwmon/utils.js"></script>
<script src="<%=resource%>/wrtbwmon/stupidtable.min.js"></script>
<script>

$(document).ready(function(){
	
	//config and variables
	var headerItems = 
	{
		1 : {datatype : "string", id : "#mac", label : "MAC Address", action : null, attributes : {"data-sort" : "string"}},
		2 : {datatype : "string", id : "ip", label : "IP Address", action : null, attributes : {"data-sort" : "string"}},
		3 : {datatype : "string", id : "iface", label : "Intreface", action : null, attributes : {"data-sort" : "string"}},
		4 : {datatype : "int", id : "in", label : "Incoming", action : "size", attributes : {"data-sort" : "int"}},
		5 : {datatype : "int", id : "out", label : "Outgoing", action : "size", attributes : {"data-sort" : "int"}},
		6 : {datatype : "int", id : "total", label : "Total", action : "size", attributes : {"data-sort" : "int", "data-sort-onload" : "yes", "data-sort-default" : "desc"}},
		7 : {datatype : "int", id : "first_date", label : "First Seen", action : "date", attributes : {"data-sort" : "int"}},
		8 : {datatype : "int", id : "last_date", label : "Last Seen", action : "date", attributes : {"data-sort" : "int"}}
	};
	var dataUrl = '<%=luci.dispatcher.build_url("admin/services/wrtbwmon/getData")%>';
	var tableSelector = "#usageTable";
	var headSelector = tableSelector + " thead tr th";
	var footSelector = tableSelector + " tfoot tr td";
	var rowSelector = tableSelector + " tbody tr td:nth-child(num)"; 
	var footerItems = {};
	var xhr = new XMLHttpRequest();
	
	
	//get mac address from async request and update on table macs
	jQuery.get(dataUrl, function (response) {
	    var macs = response.macs;
	    
		//setting up macs with respective hosts
		var macColumnItemsSelector = rowSelector.replace("num",1);
		$(macColumnItemsSelector).each( function(){
			var self = $(this);
			var mac = self.text().trim();
			$(macs).each( function(key, value){
				if(value[0] == mac)
				{
					self.html(value[1]);
				}
			});	
		});
	});
	
	
	
	//build header
	$(headSelector).each(function(key, value){
		var self = $(this);
		var keyItem = parseInt(key) + 1;
		var attributes = headerItems[keyItem].attributes;
		$.each(attributes, function(key, value) {
			self.attr(key, value);
		});
	});

	//build table rows
	$.each(headerItems, function(key, value)
	{
		var keyItem = parseInt(key);
		var selector = rowSelector.replace("num",key);
		if(value.action == 'size')
		{
			//handle columns which are network packets in bytes
			var sum = 0;
			$(selector).each( function(){
				var intValue = parseInt($(this).text());
				$(this).attr('data-sort-value',intValue);
				sum = sum + intValue;
				$(this).html(getHumanReadableSize(intValue));
			});
			footerItems[keyItem] = sum;
		}
		else if(value.action == 'date')
		{
			//handle columns which are date type columns
			$(selector).each( function(){
				var dateString = $(this).text();
				var unixFormatDate = convertDateToUnixFormat(dateString);
				var d = new Date(unixFormatDate);
				var milliSeconds = d.getTime();
				$(this).attr('data-sort-value',milliSeconds);
				var timeAgoDate = timeAgo(unixFormatDate); 
				$(this).html(timeAgoDate);
			});
		}
	});

	//build footer
	$(footSelector).each(function(key, value){
		var keyItem = parseInt(key) + 1;
		if(footerItems[keyItem] != null)
		{
			$(this).html(getHumanReadableSize(footerItems[keyItem]));
		}
	});
	
	//plugin for sorting table on different columns
	$(tableSelector).stupidtable();
	
});

</script>

<div class="cbi-map">
	
	<div class="title"><%:Usage Details%></div>
	<% 
	
	usageTable = content["usageTable"]
	usageTableCount = content["usageTableCount"]
	usageTableHeaders = content["usageTableHeaders"]
	usageTableColumnCount = content["usageTableColumnCount"]
	
	%>
	
	<table id="usageTable">
	<thead>
	  <tr>
	<%# building header definition %>
	<% for i=1,usageTableColumnCount,1 do %>
		<th><% print(usageTableHeaders[i][2]) %></th>
	<% end %>
	</tr>
	</thead>
	
	<tbody>
	<%# building table rows %>
	<% for i=1,usageTableCount,1 do %>
	<tr>
		<% for j=1,usageTableColumnCount,1 do %>
			<td><% print(usageTable[i][j]) %></td>
		<% end %>
	</tr>
	<% end %>
	</tbody>
	
	<tfoot>
	<tr>
	<%# building footer definition %>
	<% for i=1,usageTableColumnCount,1 do %>
		<td></td>
	<% end %>
	</tr>
	</tfoot>
	</table>
	
</div>


<%+footer%>